        </div>
        <div class="clear-both"></div>
        <div id="FooterContainer"><div id="Footer">
            <div class="about">NoPaste [% version('NoPaste') %], powered by <a href="http://plackperl.org/">Plack</a> [% version('Plack') %], Amon2 [% version('Amon2') %]</div>
            <div class="copyright">Copyright (C) 2009 64p.org</div>
        </div></div>
    </div>
</body>
</html>
