[% INCLUDE 'include/header.tt' %]

<form method="post" action="[% uri_for('/post') %]" class="nopaste">
<textarea name="body" rows="15" cols="60"></textarea>
<p class="nm submit-btn"><input type="submit" value="post" /></p>
</form>

[% INCLUDE 'include/footer.tt' %]
